@import 'https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,700&display=swap';

* {
	margin: 0;
	padding: 0;
}

html {
	max-width: 100vw;
  	font-size: 62.5%;

	::-webkit-scrollbar{
		display: none;
	}

	body{
		height: 100vh;
	}

	#root{
		font-family: 'Roboto Flex', sans-serif;
		background-color: nth($paleta,2);

		min-height: 100%;

		display: grid;
		grid-template-rows: auto 1fr auto;

		main{
			background-image: url('../../images/montaña-izq.png'),url('../../images/montaña-der.png');
			background-repeat: no-repeat;
			background-position: bottom;
		}
	}
}

