@import 'https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,700&display=swap';

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	width: 100vw;

	::-webkit-scrollbar {
		display: none;
	}

	scroll-behavior: smooth;

	body {
		height: 100vh;
		font-family: 'Roboto Flex', sans-serif;
		background-color: nth($paleta, 2);
		width: 100vw;
	}

	#root {
		min-height: 100%;
		display: grid;
		grid-template-rows: auto auto 1fr auto;
		width: 100vw;

		main {
			width: 100vw;
			display: flex;
			justify-content: center;
			background-image: url('../../images/montaña-izq.png'), url('../../images/montaña-der.png');
			background-repeat: no-repeat;
			background-position: bottom;

			section {
				width: calc(100% - 1rem);
				max-width: 100%;
				border: 1px groove nth($paletaOp, 3);
				padding: 1rem 0.5rem;
			}

		}
		
		.active{
			background-color: red;
			text-decoration-line: none;
		}

		.inactive{
			background-color: blueviolet;
			text-decoration-line: none;
		}

		a{
			text-decoration: none;
			width: min-content;
		}
	}
}