#itemListContainer{
	ul{
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		a{
			width: min-content;
		}

		.prod{
			padding:0.5rem 0.1rem;
			margin: 0.5rem;
			width: min-content;
			max-height: min-content;
			
			background-color: nth($paleta,1);
			border: 1px solid nth($paleta,3);
			border-radius: 5px;
	
			h3{
				text-align: center;
			}
	
			.prodDesc,.prodPrice{
				padding: 0.5rem;
				p{
					margin: 0;
					text-align: left;
				}
			}
		}
	}
}