#itemDetailContainer{
	display: flex;
	justify-content:space-around;
	flex-direction: column;

	.icon{
		font-size: 3.2rem;

		&:hover{
			border: 1px solid nth($paleta,4);
			border-radius: 5px;
		}
	}

	.itemDetail{
		background-color: nth($paleta,1);
		display: flex;
		justify-content: center;
		
		flex-direction: column;
		border: 1px solid nth($paleta,3);
		border-radius: 5px;

		padding: .5rem;

		min-height: 80%;
		height: min-content;
		
		h3{
			text-align: center;
			font-size: 3.2rem;
		}
		.prodDetailImg{
			display: flex;
			justify-content: center;
		}

		.prodDetailDesc{
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 1rem;

			p,span{
				text-align: center;
				font-size: 1.5rem;
			}

			p{
				align-self: center;
			}

			span{
				align-self: flex-start;
			}
		}
	}
}