@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,700&display=swap';
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  width: 100vw;
  scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
  display: none;
}
html body {
  height: 100vh;
  font-family: "Roboto Flex", sans-serif;
  background-color: #f3e8ee;
  width: 100vw;
}
html #root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  width: 100vw;
}
html #root main {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-image: url("../../images/montaña-izq.png"), url("../../images/montaña-der.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
html #root main section {
  width: calc(100% - 1rem);
  max-width: 100%;
  border: 1px groove rgba(167, 67, 58, 0.5019607843);
  padding: 1rem 0.5rem;
}
html #root .countContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
html #root .countContainer .countBtn, html #root .countContainer .count {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}
html #root .countContainer .count {
  text-align: center;
  text-justify: center;
  border: 2px solid #1976d2;
}
html #root .sendCart {
  align-self: center;
  width: 30%;
  margin: 1rem 0.5rem;
}
html #root .active {
  background-color: red;
  text-decoration-line: none;
}
html #root .inactive {
  background-color: blueviolet;
  text-decoration-line: none;
}
html #root a {
  text-decoration: none;
  width: min-content;
}

.header {
  background-color: #293241;
  color: #ffffff;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
}
.header .logo {
  display: flex;
  justify-content: center;
}
.header .menu {
  padding-left: 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
}
.header .menu .menuIcon {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.header .menu .menuIcon span {
  background-color: #ffffff;
  width: 3.2rem;
  height: 0.2rem;
}
.header .cart {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}
.header .cart div {
  display: flex;
  justify-content: right;
}
.header .cart .Icon, .header .cart .count {
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}
.header .cart .clear {
  max-width: 10rem;
}
.header .cart .clear span {
  font-size: 1rem;
}

.headerNav {
  height: 6.4rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(167, 67, 58, 0.5019607843);
  margin-bottom: 0.5rem;
}
.headerNav ul {
  margin: 0;
  padding: 0;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerNav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0 1rem;
  margin: 0 1rem;
}
.headerNav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
.headerNav ul li:hover {
  border: 1px solid #293241;
}

.footer {
  min-height: 15rem;
  width: 100vw;
  border: 1px solid #a7433a;
  margin-top: 1rem;
}

#itemDetailContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#itemDetailContainer .icon {
  font-size: 3.2rem;
}
#itemDetailContainer .icon:hover {
  border: 1px solid #293241;
  border-radius: 5px;
}
#itemDetailContainer .itemDetail {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #a7433a;
  border-radius: 5px;
  padding: 0.5rem;
  min-height: 80%;
  height: min-content;
}
#itemDetailContainer .itemDetail h3 {
  text-align: center;
  font-size: 3.2rem;
}
#itemDetailContainer .itemDetail .prodDetailImg {
  display: flex;
  justify-content: center;
}
#itemDetailContainer .itemDetail .prodDetailDesc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#itemDetailContainer .itemDetail .prodDetailDesc p, #itemDetailContainer .itemDetail .prodDetailDesc span {
  text-align: center;
  font-size: 1.5rem;
}
#itemDetailContainer .itemDetail .prodDetailDesc p {
  align-self: center;
}
#itemDetailContainer .itemDetail .prodDetailDesc span {
  align-self: flex-start;
}

#itemListContainer ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#itemListContainer ul a {
  width: min-content;
}
#itemListContainer ul .prod {
  padding: 0.5rem 0.1rem;
  margin: 0.5rem;
  width: min-content;
  max-height: min-content;
  background-color: #ffffff;
  border: 1px solid #a7433a;
  border-radius: 5px;
}
#itemListContainer ul .prod h3 {
  text-align: center;
}
#itemListContainer ul .prod .prodDesc, #itemListContainer ul .prod .prodPrice {
  padding: 0.5rem;
}
#itemListContainer ul .prod .prodDesc p, #itemListContainer ul .prod .prodPrice p {
  margin: 0;
  text-align: left;
}

.spinnerContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5019607843);
}
.spinnerContainer .spinner {
  width: 6.4rem;
  height: 6.4rem;
  font-size: 2rem;
  color: #a7433a;
}

@media screen and (min-width: 800px) {
  #itemListContainer ul {
    justify-content: left;
  }
}

/*# sourceMappingURL=style.css.map */
